 @*
 * This file is part of the Nextbeat services.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 *@

@(vv: model.component.util.ViewValuePageLayout)(implicit messages: play.api.i18n.Messages)
<div style="background-color: #f4d100">
  <div style="display: flex;">
    <div class="col-12">
      <header id="nav-global" class="nav-global-simple content">
        <div class="content__inner" style="display: flex;">
          @** ロゴ *@
          <h1 class="content__section logo col-7 text-right">
            <a class="logo__inner" href="/" style="width: 20%;height: 20%;">
              @views.html.common.component.image.ResponsiveImage(
                alt     = vv.messages("_image-service-logo"),
                path    = "common/logo_white.png",
                classes = "logo__image",
                maxSize = 1
              )
            </a>
          </h1>
          <div class="menu col-4 text-right">
            <a class="menu__item" href="@controllers.app.routes.AuthController.login()" style="font-size: 40px; color: black;">ログイン</a>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>

